* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 8%);
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: hsl(0, 0%, 12%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 2rem;
  padding-block: 2.5rem;
  border-radius: 15px;
  gap: 1rem;
  width: 420px;
  margin-block: 30px;
}

button {
  all: unset;
  cursor: pointer;
  display: block;
  color: white;
  background-color: hsl(0, 0%, 20%);
  padding: 1rem;
  width: 85%;
  border-radius: 10px;
  text-align: center;
  /* margin-block: 10px; */
}

button:hover {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 12%);
}

button:active {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 12%);
}

img {
  border-radius: 50%;
  height: 6rem;
}

.text {
  text-align: center;
  margin-top: 0.5rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.loc {
  font-size: 0.9rem;
  color: hsl(75, 94%, 57%);
  font-weight: 600;
  margin-top: 0.8rem;
  margin-bottom: 1.5rem;
}

.job {
  font-weight: 300;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
/* Footer */
.attribution {
  position: relative;
  font-size: 11px;
  text-align: center;
  /* margin-top: auto; */
}

.attribution a {
  text-decoration: underline;
  color: white;
}
